<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Starts the tracker of the resumed activity, which the sign-in sheets are shown from. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.thernal.firebasekit.firebase.auth.impl.data.ResumedActivityInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
